.flaticon-facebook:before {
	content: "\e001";
}
.flaticon-social-media:before {
	content: "\e002";
}
.flaticon-twitter:before {
	content: "\e003";
}
.flaticon-instagram:before {
	content: "\e004";
}
.flaticon-download:before {
	content: "\e005";
}
.flaticon-whatsapp:before {
	content: "\e006";
}
.flaticon-call-answer:before {
	content: "\e007";
}
.flaticon-email:before {
	content: "\e008";
}
