h1,
h2,
h3,
h4,
h5,
h6 {
    font-weight: 700;
    font-family: 'Lato', sans-serif;    
}
h2 { font-size: 3em; }
h3 { font-size: 2.6em; }
h4 { font-size: 2.2em; }
h5 { font-size: 1.8em; }
h6 { font-size: 1.2em; }
a {
    color: black;
}
body {
    font-family: 'Lato', sans-serif;
    font-size: 18px;
    font-weight: 300;
}
/* Footer */
footer {
    background-color: black;
    color: white;
    padding: 2em 0;
}
header {
    align-items: center;    
    background: url(../images/header-background.png);
    display: flex;
    height: 100vh;
    justify-content: center;
    position: relative;
    background-size: cover;
    background-position: top;
    z-index: 1;
    .header-logo {
        position: absolute;
        top: 0px;
        left: 0px;
        width: 125px;
        margin: 1em;
    }

    .social-icons {
        position: absolute;
        bottom: 0px;
    }
}
section {
    padding: 2em 0;
}

/* Clases */

/* A */
.acciones {
    ul {
        li {
            p {
                text-align: center;
            }
        }
    }
}
.afer-line {
    position: relative;
    margin: 1.5em 0;
}
.afer-line::after {
    content: "";
    position: absolute;
    height: 2px;
    width: 50px;
    left: 0;
    bottom: -15px;
    background: linear-gradient(to right, $azul-fuerte, $verde-brillane);
    border-radius: .5px;
}
/* B */
.box-container, 
.box-half-container, 
.box-quarter-container {
    background-color: rgba(255,255,255,.95);
    border-radius: 5px;
    box-shadow: 7px 10px 20px 0px rgba(0,0,0, .31);
    font-size: .9em;
    padding: .8em;
    display: inline-block;
    margin: 1em 0;
}
.box-container {    
    // max-width: 100%;
    // width: 100%; 
}
.box-half-container {
    max-width: 50%;
    width: 50%;
}
.box-quarter-container {
    max-width: 25%;
    width: 25%;
}
.bg-gray {
    background-color: $gris-balanco;
}
.bold {
    font-weight: 400;
}
.btn-primary{
    margin: .5em 1em .5em 1em;
    padding: .8em 2.5em .8em 2.5em;
    border-radius: 2px;
    display: block;
    background: linear-gradient(to right, $verde-brillante-rgb,$verde-opaco-rgb);
    color: white;
    font-weight: bold;
    border: 0;
    display: inline-block;
}
.burguer-menu-container {
    position: fixed;
    height: 50px;
    width: 55px;
    margin: 1em;
    right: 0;
    top: 0;
    z-index: 1000;
    // border: 1px solid red;
    .burger-menu {
        height: 50px;
        width: 100%;
        position: relative;
        transition: .3s all;
    
        .top-line {
            width: 100%;
            height: 10px;
            position: absolute;
            top: 0;
            background: linear-gradient(to right, $azul-fuerte, $verde-brillane);
            transition: .3s all;
        }
        .middle-line {
            height: 10px;
            width: 100%;
            position: absolute;
            top: 20px;
            background: linear-gradient(to right, $azul-fuerte, $verde-brillane);
            transition: .3s all;
        }
        .bottom-line {
            position: absolute;
            height: 10px;
            bottom: 0;
            width: 100%;
            background: linear-gradient(to right, $azul-fuerte, $verde-brillane);
            transition: .3s all;
        }
    }
}

/* C */
.contacto, .tarea {
    background: url(../images/fondos/contact-footer.svg);
    background-repeat: no-repeat;
    background-position: bottom;
    background-size: 120%;
}
// .contacto-email {
//     display: block;
// }
// .contacto-email::after {
//     width: 50px;
//     background-color: red;
//     height: 5px;
//     content: " ";
// }

/* E */ 
.equipo {
    position: relative;
    margin-top: 75px;
    padding-top: 78px;
    .avatar-equipo-container {
        position: absolute;
        
        top: -75px;
        text-align: center;
        display: inline; 
        margin: 0 auto;
        left: 0;
        right: 0;
        .avatar-equipo {
            width: 150px;
        }  
    }

}
.educar-concientizar {
    overflow: hidden;
}
/* H */
.header-dinamic-text {
    background-color: black;
    color: white;
    text-transform: uppercase;
    padding: 1em;
    max-width: 40%;
    width: 200px;
    // height: 200px;
    // height: 200px;
}
.international-grid-container {
    
    h3 {
        font-size: 1.1em;
        font-weight: 400;
    }
}
/* L */

.logros {
    background: url(../images/fondos/back-logros.svg);
    background-size: cover;
    color: white;
    text-align: center;
    h3 {
        font-weight: 300;
        font-size: 2em;
    }
}

.list-medidas {
    // border: 1px solid red;
    display: flex;
    flex-flow: row;
    justify-content: space-around;
    align-items: center;
    .big-number {
        // border: 1px solid green;
        font-size: 3em;
        font-weight: 900;
    }
}
.list-green {
    li {
        position: relative;
        padding-left: 20px;
        box-sizing: border-box;
    }
    li:before {
        content: '';
        position: absolute;
        width: 10px;
        height: 10px;
        border-radius: 50%;
        background-color: $verde-aqua;
        // top: calc(50% - 5px);
        top: 7px;
        left: 0;
    }
}
/* M */

.mapa-nos-mueve {
    position: relative;
    overflow: hidden;
    text-align: center;
    .map1, .map2, .map3 {
        position: absolute;
        margin: 0;
        padding: .5em;
        p {
            padding: 0;
            margin: 0;
        }
    }
    .map1{
        top: 2%;
        left: 50%;
        max-width: 165px;
    }
    .map2 {
        left: 10px;
        top: 35%;
        max-width: 165px;
    }
    .map3 {
        bottom: 30px;
        right: 10px;
        max-width: 210px;
    }
    .svg-map-nos-mueve {
        width: 318px;
        height: 396.86px;
    }
}
/* N */
/* Q */

.quienes-somos {
    background-image: url(../images/fondos/back001.svg);
    background-repeat: no-repeat;
    background-position: bottom;
    background-size: 120%;

}

ul.primary-list {
    padding-left: 30px;
    li {
        position: relative;
    }
    li:before {
        color: #006b6e;
        content: "\2022";
        font-size: 1.5em; 
        // padding-right: 1.1225em;
        position: absolute;
        top: -6px;
        left: -22px;
    }
}
/* V */
.valores-list, .educar-list {
    // border: 1px solid red;

    li {
        color: white;
        position: relative;
        color: #fff;
        padding: 2.7em 0 1em 0;
        
        p {
            margin: 0;
            z-index: 10;
            width: 85%;
            margin: 0 auto;
        }
        .valores-img {
            position: absolute;
            top: .25px;
        }
        
    }
    
    li:nth-child(1) {
        .valores-img {
            z-index: -5;
        }
    }
    li:nth-child(2) {
        .valores-img {
            z-index: -4;
        }
    }
    li:nth-child(3) {
        .valores-img {
            z-index: -3;
        }
    }
    li:nth-child(4) {
        .valores-img {
            z-index: -2;
        }
    }
    li:nth-child(5) {
        .valores-img {
            z-index: -1;
        }
    }

    
}