/* Colors */

$azul-fuerte-rgba:  rgba(68,50,246,1) ;
$azul-fuerte: #4432F6;

/* rgba(71,112,211,1) */
$azul-opaco: #4770D3;

$verde-aqua-rgb: rgba(39,236,184,1);
$verde-aqua: #4AADAF;

/* rgba(250,150,158,1) */ 
$rosa-pastel: #FA969E;

$verde-brillante-rgb: rgba(39,236,184,1);
$verde-brillane: #27ECB8;

$verde-opaco-rgb: rgba(162,212,204,1);
$verde-opaco: #A2D4CC;

$gris-balanco-rgb: rgba(247,247,247,1);
$gris-balanco: #F7F7F7;

/* rgba(38,38,38,1) */ 
$negro-claro: #262626;

// $primary-color: "";
// $secondary-color: "";