.burguer-menu-container {
    position: fixed;
    height: 50px;
    width: 55px;
    margin: 1em;
    right: 0;
    top: 0;
    z-index: 1000;
    // border: 1px solid red;
    .burger-menu {
        height: 50px;
        width: 100%;
        position: relative;
        transition: .3s all;
    
        .top-line {
            width: 100%;
            height: 10px;
            position: absolute;
            top: 0;
            // background: linear-gradient(to right, $azul-fuerte, $verde-brillane);
            background-color: white;
            transition: .3s all;
        }
        .middle-line {
            height: 10px;
            width: 100%;
            position: absolute;
            top: 20px;
            // background: linear-gradient(to right, $azul-fuerte, $verde-brillane);
            background-color: white;
            transition: .3s all;
        }
        .bottom-line {
            position: absolute;
            height: 10px;
            bottom: 0;
            width: 100%;
            // background: linear-gradient(to right, $azul-fuerte, $verde-brillane);
            background-color: white;
            transition: .3s all;
        }
    }
}
nav {    
    width: 100%;
    height: 100vh;
    background: linear-gradient( 217deg, rgb(54, 151, 215),rgba(255, 0, 0, 0) 95.71%),
        linear-gradient(127deg, rgb(65, 63, 243), rgba(0, 255, 0, 0) 95.71%),
        linear-gradient(336deg, rgb(43, 218, 191), rgba(0, 0, 255, 0) 95.71%);

    position: fixed;
    transform: translateX(-100vw);
    transition: .3s all;
    top: 0;
    top: 0;
    z-index: 100;
    ul {
        box-sizing: border-box;
        padding: 3em 1em 1em 1em;
        text-align: center;
        li {
            padding: 1em 0;
            a {
                padding: 1em ;
                color: white;
                font-weight: bold;

            }
        }
    }
}
nav.is-active {
    transform: translateX(0);
    transition: .3s all;
}
.is-active {    

    .top-line {
        transform: rotate(45deg) translate(10px,18px);
        
        transition: .3s all;
    }
    .middle-line {
        // width: 0%;
        transition: .3s all;
        opacity: 0;
    }
    .bottom-line {
        transform: rotate(-45deg) translate(10px, -18px);
        
        transition: .3s all;
    }
}
.header__nav {
    // background-color: $azul-fuerte-rgba;
    background-color: rgba(68, 50, 246, 0.85);
    position: fixed;
    width: 100%;
    top: 0;
    z-index: 100;
    transition: top 0.4s;
}
.header__nav-container {
    text-align: center;
    max-width: 1300px;
    margin: 0 auto;
    display: flex;
    flex-flow: row;
    padding: 1em 0 1em 0;
    justify-content: flex-start;
}
.header__nav-logo {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 1em;
}
.header__logo-img {
    width: 150px;
    height: 45.16px;
}
.header__nav-menu {
    display: flex;
    justify-content: center;
    align-items: center;
    display: none;
}
.header__menu-list {
    display: inline-block;
    text-align: right;
    margin: 0;
    z-index: 100;
    li {
        display: inline-block;
        margin: 0 .5em;
        transition: .3s all;
    }
    a {
        color: white;
        font-size: .9em;
        transition: .3s all;
    }
    a:hover {
        color: $rosa-pastel;
        font-size: .9em;
        transition: .3s all;
    }
    li:hover {
        transition: .3s all;
    }
}