@media only screen and (min-width:767px) {
    .equipo {
        padding-top: initial;
        padding-left: 85px;
        margin-left: 75px;
        min-height: 240px;
        max-width: 580px;

        .avatar-equipo-container {
            right: auto;
            left: -75px;
            top: calc(120px - 75px);
            
        }
    }
    .mision-container {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        grid-gap: 2em;
    }
    .quienes-somos {
        background-size: 50%;
    }

    .item-list {
        text-align: center;
        
        li {
            width: 300px;
            display: inline-flex;
            flex-flow: column;
            justify-content: center;
            align-items: flex-start;
            margin: 0;
        }
    }
    .valores-list {
        overflow: hidden;
        li {
            padding-top: 5em;
        }
    }
}
@media only screen and (min-width:1023px) {
    .box-container {
        display: block;
        max-width: 700px;
        margin: 1em auto;
        padding-top: 1em;
    }
    .contacto {
        background-attachment: fixed;
    }
    .grid-contacto {
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-gap: 2em;
        grid-template-rows: auto;
    }
    .grid-container {
        width: 70%;
        
    }
    .item-list {
        li {
            width: 215px;
            margin: .5em;
        }
        
    }
    .mision-container {
        display: inline;
        .item-container {
            display: grid;
            grid-template-columns: 120px 200px 1fr;
            grid-gap: 2em;
            align-self: center;
            * {
                align-self: center;
            }
        }
    }
    .quienes-somos {
        
    }
    .valores-list {
        display: grid;
        grid-template-columns: 1fr 1fr;
        li {
            p {
                color: black;
            }
            img {
                display: none;
            }
            .bold {
                font-size: 1.2em;
            }
        }
    }
}